In [2]:
import pandas as pd

In [66]:
df = pd.read_csv(r'C:\Users\IT-Complex\Desktop\DataAnylsis\cricket.csv')
df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,RN ten Doeschate (NED),2006-2011,33,32,9,1541,119,67.00,1757,87.70,5,9,1,130,29
1,Shubman Gill (IND),2019-2023,35,35,6,1917,208,66.10,1864,102.84,6,9,1,213,40
2,DJ Malan (ENG),2019-2023,22,22,4,1060,134,58.88,1112,95.32,5,5,5,102,23
3,HE van der Dussen (SA),2019-2023,50,44,10,1982,134,58.29,2217,89.40,5,12,1,153,35
4,Babar Azam (PAK),2015-2023,109,106,12,5414,158,57.59,6087,88.94,19,28,4,488,56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Inzamam-ul-Haq (Asia/PAK),1991-2007,378,350,53,11739,137*,39.52,15812,74.24,10,83,20,971,144
96,NH Fairbrother (ENG),1987-1999,75,71,18,2092,113,39.47,2903,72.06,1,16,2,140,20
97,ME Waugh (AUS),1988-2002,244,236,20,8500,173,39.35,11053,76.90,18,50,16,651,57
98,AJ Lamb (ENG),1982-1992,122,118,16,4010,118,39.31,5308,75.54,4,26,8,328,30
99,EJG Morgan (ENG/IRE),2006-2022,248,230,34,7701,148,39.29,8447,91.16,14,47,18,654,220

In [6]:
df = df.rename(columns={
    'Mat':'Matches','Inns':'Innings','NO':'Not Outs','HS':'Higest Score','BF':'Balls Faced','SR':'Strike Rate'
})
df

,Player,Span,Matches,Innings,Not Outs,Runs,Higest Score,Ave,Balls Faced,Strike Rate,100,50,0,4s,6s
0,RN ten Doeschate (NED),2006-2011,33,32,9,1541,119,67.00,1757,87.70,5,9,1,130,29
1,Shubman Gill (IND),2019-2023,35,35,6,1917,208,66.10,1864,102.84,6,9,1,213,40
2,DJ Malan (ENG),2019-2023,22,22,4,1060,134,58.88,1112,95.32,5,5,5,102,23
3,HE van der Dussen (SA),2019-2023,50,44,10,1982,134,58.29,2217,89.40,5,12,1,153,35
4,Babar Azam (PAK),2015-2023,109,106,12,5414,158,57.59,6087,88.94,19,28,4,488,56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Inzamam-ul-Haq (Asia/PAK),1991-2007,378,350,53,11739,137*,39.52,15812,74.24,10,83,20,971,144
96,NH Fairbrother (ENG),1987-1999,75,71,18,2092,113,39.47,2903,72.06,1,16,2,140,20
97,ME Waugh (AUS),1988-2002,244,236,20,8500,173,39.35,11053,76.90,18,50,16,651,57
98,AJ Lamb (ENG),1982-1992,122,118,16,4010,118,39.31,5308,75.54,4,26,8,328,30
99,EJG Morgan (ENG/IRE),2006-2022,248,230,34,7701,148,39.29,8447,91.16,14,47,18,654,220

In [7]:
df.isnull().any()

Player          False
Span            False
Matches         False
Innings         False
Not Outs        False
Runs            False
Higest Score    False
Ave             False
Balls Faced     False
Strike Rate     False
100             False
50              False
0               False
4s              False
6s              False
dtype: bool

In [8]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
95    False
96    False
97    False
98    False
99    False
Length: 100, dtype: bool

In [10]:
df['Span']

0     2006-2011
1     2019-2023
2     2019-2023
3     2019-2023
4     2015-2023
        ...
95    1991-2007
96    1987-1999
97    1988-2002
98    1982-1992
99    2006-2022
Name: Span, Length: 100, dtype: object

In [11]:
df['Span'].str.split(pat='-')

0     [2006, 2011]
1     [2019, 2023]
2     [2019, 2023]
3     [2019, 2023]
4     [2015, 2023]
          ...
95    [1991, 2007]
96    [1987, 1999]
97    [1988, 2002]
98    [1982, 1992]
99    [2006, 2022]
Name: Span, Length: 100, dtype: object

In [12]:
df['First_year'] = df['Span'].str.split(pat='-').str[0]

In [13]:
df['Final_year'] = df['Span'].str.split(pat='-').str[1]

In [53]:
df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,County
0,NED),2006-2011,33,32,9,1541,119,67.00,1757,87.70,5,9,1,130,29,NaN
1,IND),2019-2023,35,35,6,1917,208,66.10,1864,102.84,6,9,1,213,40,NaN
2,ENG),2019-2023,22,22,4,1060,134,58.88,1112,95.32,5,5,5,102,23,NaN
3,SA),2019-2023,50,44,10,1982,134,58.29,2217,89.40,5,12,1,153,35,NaN
4,PAK),2015-2023,109,106,12,5414,158,57.59,6087,88.94,19,28,4,488,56,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Asia/PAK),1991-2007,378,350,53,11739,137*,39.52,15812,74.24,10,83,20,971,144,NaN
96,ENG),1987-1999,75,71,18,2092,113,39.47,2903,72.06,1,16,2,140,20,NaN
97,AUS),1988-2002,244,236,20,8500,173,39.35,11053,76.90,18,50,16,651,57,NaN
98,ENG),1982-1992,122,118,16,4010,118,39.31,5308,75.54,4,26,8,328,30,NaN
99,ENG/IRE),2006-2022,248,230,34,7701,148,39.29,8447,91.16,14,47,18,654,220,NaN

In [17]:
df = df.drop(['Span'], axis=1)

KeyError: "['Span'] not found in axis"

In [19]:
df.head()

,Player,Matches,Innings,Not Outs,Runs,Higest Score,Ave,Balls Faced,Strike Rate,100,50,0,4s,6s,First_year,Final_year
0,RN ten Doeschate (NED),33,32,9,1541,119,67.00,1757,87.70,5,9,1,130,29,2006,2011
1,Shubman Gill (IND),35,35,6,1917,208,66.10,1864,102.84,6,9,1,213,40,2019,2023
2,DJ Malan (ENG),22,22,4,1060,134,58.88,1112,95.32,5,5,5,102,23,2019,2023
3,HE van der Dussen (SA),50,44,10,1982,134,58.29,2217,89.40,5,12,1,153,35,2019,2023
4,Babar Azam (PAK),109,106,12,5414,158,57.59,6087,88.94,19,28,4,488,56,2015,2023

In [52]:
df['Player']

0          NED)
1          IND)
2          ENG)
3           SA)
4          PAK)
        ...
95    Asia/PAK)
96         ENG)
97         AUS)
98         ENG)
99     ENG/IRE)
Name: Player, Length: 100, dtype: object

In [55]:
df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,RN ten Doeschate (NED),2006-2011,33,32,9,1541,119,67.00,1757,87.70,5,9,1,130,29
1,Shubman Gill (IND),2019-2023,35,35,6,1917,208,66.10,1864,102.84,6,9,1,213,40
2,DJ Malan (ENG),2019-2023,22,22,4,1060,134,58.88,1112,95.32,5,5,5,102,23
3,HE van der Dussen (SA),2019-2023,50,44,10,1982,134,58.29,2217,89.40,5,12,1,153,35
4,Babar Azam (PAK),2015-2023,109,106,12,5414,158,57.59,6087,88.94,19,28,4,488,56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Inzamam-ul-Haq (Asia/PAK),1991-2007,378,350,53,11739,137*,39.52,15812,74.24,10,83,20,971,144
96,NH Fairbrother (ENG),1987-1999,75,71,18,2092,113,39.47,2903,72.06,1,16,2,140,20
97,ME Waugh (AUS),1988-2002,244,236,20,8500,173,39.35,11053,76.90,18,50,16,651,57
98,AJ Lamb (ENG),1982-1992,122,118,16,4010,118,39.31,5308,75.54,4,26,8,328,30
99,EJG Morgan (ENG/IRE),2006-2022,248,230,34,7701,148,39.29,8447,91.16,14,47,18,654,220

In [56]:
df['Player']

0        RN ten Doeschate (NED)
1            Shubman Gill (IND)
2                DJ Malan (ENG)
3        HE van der Dussen (SA)
4              Babar Azam (PAK)
                ...
95    Inzamam-ul-Haq (Asia/PAK)
96         NH Fairbrother (ENG)
97               ME Waugh (AUS)
98                AJ Lamb (ENG)
99         EJG Morgan (ENG/IRE)
Name: Player, Length: 100, dtype: object

In [58]:
df['Player'].str.split(pat='(')

0        [RN ten Doeschate , NED)]
1            [Shubman Gill , IND)]
2                [DJ Malan , ENG)]
3        [HE van der Dussen , SA)]
4              [Babar Azam , PAK)]
                  ...
95    [Inzamam-ul-Haq , Asia/PAK)]
96         [NH Fairbrother , ENG)]
97               [ME Waugh , AUS)]
98                [AJ Lamb , ENG)]
99         [EJG Morgan , ENG/IRE)]
Name: Player, Length: 100, dtype: object

In [68]:
df['County'] = df['Player'].str.split(pat='(').str[1]

In [69]:
df['County'] = df['County'].str.split(pat=')').str[0]

In [70]:
df['County']

0          NED
1          IND
2          ENG
3           SA
4          PAK
        ...
95    Asia/PAK
96         ENG
97         AUS
98         ENG
99     ENG/IRE
Name: County, Length: 100, dtype: object

In [72]:
df['Player'] = df['Player'].str.split(pat='(').str[0]

In [73]:
df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,County
0,RN ten Doeschate,2006-2011,33,32,9,1541,119,67.00,1757,87.70,5,9,1,130,29,NED
1,Shubman Gill,2019-2023,35,35,6,1917,208,66.10,1864,102.84,6,9,1,213,40,IND
2,DJ Malan,2019-2023,22,22,4,1060,134,58.88,1112,95.32,5,5,5,102,23,ENG
3,HE van der Dussen,2019-2023,50,44,10,1982,134,58.29,2217,89.40,5,12,1,153,35,SA
4,Babar Azam,2015-2023,109,106,12,5414,158,57.59,6087,88.94,19,28,4,488,56,PAK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Inzamam-ul-Haq,1991-2007,378,350,53,11739,137*,39.52,15812,74.24,10,83,20,971,144,Asia/PAK
96,NH Fairbrother,1987-1999,75,71,18,2092,113,39.47,2903,72.06,1,16,2,140,20,ENG
97,ME Waugh,1988-2002,244,236,20,8500,173,39.35,11053,76.90,18,50,16,651,57,AUS
98,AJ Lamb,1982-1992,122,118,16,4010,118,39.31,5308,75.54,4,26,8,328,30,ENG
99,EJG Morgan,2006-2022,248,230,34,7701,148,39.29,8447,91.16,14,47,18,654,220,ENG/IRE

In [74]:
df.dtypes

Player     object
Span       object
Mat         int64
Inns        int64
NO          int64
Runs        int64
HS         object
Ave       float64
BF          int64
SR        float64
100        object
50          int64
0          object
4s          int64
6s          int64
County     object
dtype: object